apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: will-playground
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/arbutnar/iot-p3-arbutnar.git
    targetRevision: HEAD
    path: dev
  destination:
    server: https://kubernetes.default.svc
    namespace: dev

  syncPolicy:
    syncOptions:
      - CreateNamespace=true
    automated:
      selfHeal: true
      prune: true
